    {%extends 'base.html'%}

    {% block head %} 
        <link rel="stylesheet" href="{{url_for('static', filename='css/home.style.css')}}">
        <title>RegTel</title>
    {% endblock %}

    {% block content %}

    {% include 'navbar.html' %}

    

    <!--modal adicionar registo-->


    <div class="modal fade" id="adicionarRegisto" tabindex="-1" aria-labelledby="adicionarRegisto" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><b>Adicionar Registo</b></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form action="/" method="POST" id="formAddRegisto">
                            <div class="row">
                                <div class="col">
                                    <div class="input-group mt-2" id="inputGroupNome">
                                        <span class="input-group-text bg-color-reg color-white border-reg" id="nome">Nome</span>
                                        <input name="nome" type="text" class="form-control border-reg" aria-label="Username" aria-describedby="nome">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="input-group mt-3" id="inputGroupEmail">
                                        <span class="input-group-text bg-color-reg color-white border-reg" id="email">Email</span>
                                        <input name="email" type="text" class="form-control border-reg" aria-label="Email" aria-describedby="email">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8">
                                    <div class="input-group mt-3" id="inputGroupNum">
                                        <span class="input-group-text bg-color-reg color-white border-reg" id="nPessoal">Nº Pessoal</span>
                                        <input name="nTelPessoal" type="number" class="form-control border-reg" aria-label="NPessoal" aria-describedby="nPessoal">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-group mt-3" id="inputGroupDataNasc">
                                        <span class="input-group-text bg-color-reg color-white border-reg" id="data"><i class="fa-regular fa-calendar-days"></i></span>
                                        <input name="dataNasc" type="date" class="form-control border-reg" aria-label="Data" aria-describedby="data">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="input-group mt-3" id="inputGroupFunc">
                                        <span class="input-group-text bg-color-reg color-white border-reg" id="funcao">Função</span>
                                        <input name="funcao" type="text" class="form-control border-reg" aria-label="Funcao" aria-describedby="funcao">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-group mt-3" id="inputGroupEntidade">
                                        <span class="input-group-text bg-color-reg color-white border-reg" id="entidade">Entidade</span>
                                        <input name="entidade" type="text" class="form-control border-reg" aria-label="Entidade" aria-describedby="entidade">
                                    </div>
                                </div>
                            </div>
                            <!-- futura implementação do formulario de imagem
                            <div class="row justify-content-center">
                                <div class="col-auto">
                                    <p class="ts-4r">
                                        <i class="fa-solid fa-circle-user text-secondary"></i>
                                    </p>
                                </div>
                            </div>
                            
                            <div class="row justify-content-center">
                                <div class="col-auto">
                                    <button id="addFile" class="btn btn-reg">Adicionar foto&nbsp;&nbsp;<i class="fa-solid fa-image"></i></button>
                                    <input style="display:none;" type="file" id="addFile2">
                                </div>
                            </div>
                            -->
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-reg" id="guardarRegisto">Guardar Registo</button>
                </div>
            </div>
        </div>
    </div>


    <!--fim modal adicionar registo-->

    <!-- modal remover registo -->

    <div class="modal fade" id="removerRegisto" tabindex="-1" aria-labelledby="removerRegisto" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><b>Remover registo</b></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="text-secondary">Tem a certeza que deseja remover este registo?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-danger" id="btRemoverRegisto">Remover</button>
                </div>
            </div>
        </div>
    </div>


    <!-- fim modal remover registo -->




    <div class="container-fluid mt-4 mb-5">
        <div class="row justify-content-end mb-3">
            <div class="col-auto">
                <button class="btn btn-reg" data-bs-toggle="modal" data-bs-target="#adicionarRegisto">Adicionar registo&nbsp;&nbsp;<i class="fa-solid fa-plus"></i></button>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <table class="table py-3 text-center" id="table">
                    <thead>
                        <tr class="bg-color-reg">
                            <td colspan="8" class="text-center color-white">
                                <b>Registos Telefónicos</b>
                            </td>
                        </tr>
                        <tr class="bg-light-grey color-reg ">
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Função</th>
                            <th>Entidade</th>
                            <th>Numero</th>
                            <th>Email</th>
                            <th>Data de registo</th>
                            <th>Gerir</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white">
                        {% for value in data %}
                        <tr>
                            
                            <td>{{value.id}}</td>
                            <td>{{value.nome}}</td>
                            <td>{{value.funcao}}</td>
                            <td>{{value.entidade}}</td>
                            <td>{{value.numero}}</td>
                            <td>{{value.email}}</td>
                            <td>{{value.data_registo}}</td>
                            <td>
                                <a href="/profile/{{value.id}}" class="c-pointer color-reg fs-5 me-2 hover-op-75"><i class="fa-solid fa-eye "></i></a>
                                <a onclick="clickRemoveRecord({{value.id}})" data-bs-toggle="modal" data-bs-target="#removerRegisto" class="c-pointer text-danger fs-5 ms-2 hover-op-75"><i class="fa-solid fa-trash"></i></a>
                            </td>
                             
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% endblock %}

    {% block script %}
    
    <script src="{{url_for('static', filename='js/home.script.js')}}"></script>

    {% endblock %}
