{% extends 'base.html' %}

    {% block head %}
    
        <link rel="stylesheet" href="{{url_for('static', filename='css/profile.style.css')}}">
        <title>Profile</title>    
    {% endblock %}


    {% block content %}


    {% include 'navbar.html' %}


    <!--modal alterar imagem

    <div class="modal fade" id="alterarImagem" tabindex="-1" aria-labelledby="alterarImagem" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><b>Alterar imagem</b></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <p class="text-center"><img src="{{url_for('static', filename='img/joaquima.jpg')}}" alt="profile photo" width="175" height="175" style="border-radius: 50%;"></p>
                        <p class="text-center">
                            <button id="file1" class="mt-2 btn btn-reg">Carregar imagem&nbsp;&nbsp;<i class="fa-solid fa-upload"></i></button>
                            <input style="display:none;" type="file" id="file2">
                        </p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-reg">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    
    -->

    <!--fim modal alterar imagem-->

    <!--modal alterar dados pessoais-->

    <div class="modal fade" id="alterarDados" tabindex="-1" aria-labelledby="alterarDados" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><b>Alterar dados pessoais</b></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/profile/edit/data/{{data.id}}" method="POST" id="formEditData">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-group mt-3" id="inputGroupNome">
                                        <span class="input-group-text bg-color-reg color-white border-reg" id="nome"><i class="fa-solid fa-user"></i></span>
                                        <input name="nome" type="text" class="form-control border-reg" placeholder="Nome" aria-label="nome" aria-describedby="nome" value="{{data.nome}}">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-group mt-3">
                                        <span class="input-group-text bg-color-reg color-white border-reg" id="data"><i class="fa-regular fa-calendar-days"></i></span>
                                        <input name="dataNasc" type="date" class="form-control border-reg" placeholder="yyyy-mm-dd" aria-label="data" aria-describedby="data" value="{{data.data_nasc}}"">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="input-group mt-3">
                                        <span class="input-group-text bg-color-reg color-white border-reg" id="email"><i class="fa-solid fa-envelope"></i></span>
                                        <input name="email" type="email" class="form-control border-reg" placeholder="Email" aria-label="email" aria-describedby="email" value="{{data.email}}">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-group mt-3" id="inputGroupTel">
                                        <span class="input-group-text bg-color-reg color-white border-reg" id="telemovel"><i class="fa-solid fa-phone"></i></span>
                                        <input name="telemovel" type="number" class="form-control border-reg" placeholder="Telemovel" aria-label="telemovel" aria-describedby="telemovel" value="{{data.numero}}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="input-group mt-3" id="inputGroupEntidade">
                                        <span class="input-group-text bg-color-reg color-white border-reg" id="entidade"><i class="fa-solid fa-building"></i></span>
                                        <input name="entidade" type="text" class="form-control border-reg" placeholder="Entidade" aria-label="entidade" aria-describedby="entidade" value="{{data.entidade}}">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-group mt-3">
                                        <span class="input-group-text bg-color-reg color-white border-reg" id="funcao"><i class="fa-solid fa-people-arrows"></i></span>
                                        <input name="funcao" type="text" class="form-control border-reg" placeholder="Função" aria-label="funcao" aria-describedby="funcao" value="{{data.funcao}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-reg" id="btEditarDados">Guardar alterações</button>
                </div>
            </div>
        </div>
    </div>


    <!--fim modal alterar dados pessoais-->

    <!--modal editar sobre-->

    <div class="modal fade" id="editarSobre" tabindex="-1" aria-labelledby="editarSobre" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><b>Editar sobre</b></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/profile/edit/about/{{data.id}}" method="POST" id="formEditSobre">
                        <p class="text-secondary">Sobre si:</p>
                        <textarea id='sobre' name='sobre' class="form-control" placeholder="Escreva aqui..." rows="5"">{{data.descricao}}</textarea>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button id="btRemoverSobre" type="button" class="btn btn-danger" reg-id="{{data.id}}">Remover</button>
                    <button id="btEditarSobre" type="button" class="btn btn-reg" reg-id="{{data.id}}">Guardar alterações</button>
                </div>
            </div>
        </div>
    </div>


    <!--fim modal editar sobre-->


    

    <div class="container">
        <div class="row justify-content-between mt-5">
            <div class="col-auto my-1">
                <a href="/"><p class="fs-2 color-reg hover-op-75"><i class="fa-solid fa-circle-left"></i></p></a>
            </div>
            <!--
            <div class="col-auto my-1">
                <button class="btn btn-reg" data-bs-toggle="modal" data-bs-target="#alterarImagem">Alterar imagem&nbsp;&nbsp;<i class="fa-solid fa-image"></i></button>
            </div>
            -->
            <div class="col-auto my-1">
                <button class="btn btn-reg" data-bs-toggle="modal" data-bs-target="#alterarDados">Editar dados pessoais&nbsp;&nbsp;<i class="fa-solid fa-person"></i></button>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-xl-5">
                <div class="container mt-0 cont">
                    <div class="row justify-content-center row align-items-center">
                        <div class="col-auto text-center mt-1 mb-1">
                            <!-- imagem para futura implementação
                            <img src="{{url_for('static', filename='img/joaquima.jpg')}}" alt="profile photo" width="175" height="175" style="border-radius: 50%;">
                            -->
                            <p class="ts-4r mt-2">
                                <i class="fa-solid fa-circle-user text-secondary"></i>
                            </p>
                            <p class="text-secondary fs-5">{{data.nome}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg">
                <div class="container mt-0 cont px-5">
                    <div class="row row align-items-center justify-content-center">
                        <div class="col mt-3 mb-1">
                            <div class="row justify-content-between">
                                <div class="col-auto">
                                    <p class="mb-0 text-secondary ts-09r">Nome </p>
                                    <p class="mt-0 text-secondary"><i class="fa-solid fa-user"></i>&nbsp;&nbsp;{{data.nome}}</p>
                                </div>
                                {% if data.data_nasc != None %}
                                    <div class="col-auto">
                                        <p class="mb-0 text-secondary ts-09r">Data de Nascimento</p>        
                                        <p class="mt-0 text-secondary">{{data.data_nasc}}</p>
                                    </div>
                                {%endif%}
                                <hr>
                            </div>
                            {% if data.email != '' %}
                                <div class="row justify-content-between">
                                    <div class="col-auto">
                                        <p class="mb-0 text-secondary ts-09r">Email</p>
                                        <p class="mt-0 text-secondary"><i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;{{data.email}}</p>
                                    </div>
                                    <hr>
                                </div>
                            {% else %}
                            <div class="row justify-content-between">
                                <div class="col-auto">
                                    <p class="mb-0 text-secondary ts-09r">&nbsp;Email</p>
                                    <p class="mt-0 text-secondary"><i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;<i>Sem endereço de email</i></p>
                                    
                                </div>
                                <hr>
                            </div>
                            {% endif %}
                            <div class="row justify-content-between">
                                <div class="col-auto">
                                    <p class="mb-0 text-secondary ts-09r">Contacto</p>
                                    <p class="mt-0 text-secondary"><i class="fa-solid fa-phone"></i>&nbsp;&nbsp;{{data.numero}}</p>
                                </div>
                                <hr>
                            </div>
                            <div class="row justify-content-between">
                                <div class="col-auto">
                                    <p class="mb-0 text-secondary ts-09r">Entidade</p>
                                    <p class="mt-0 text-secondary"><i class="fa-solid fa-building"></i>&nbsp;&nbsp;{{data.entidade}}</p>
                                </div>
                                {% if data.funcao != '' %}
                                    <div class="col-auto">
                                        <p class="mb-0 text-secondary ts-09r">Função</p>
                                        <p class="mt-0 text-secondary"><i class="fa-solid fa-people-arrows"></i>&nbsp;&nbsp;{{data.funcao}}</p>
                                    </div>
                                {%endif%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="container cont mt-3  px-4">
                    <div class="row">
                        <div class="col">
                            <p class="text-secondary fs-5 mt-3 mb-1">Sobre:</p>
                            
                            {% if not data.descricao %}
                                <p class="text-secondary mt-0" id="sobre">
                                    <i>Sem conteúdo</i>
                                </p>
                            {% else %}
                            
                                <p class="text-secondary mt-0" id="sobre">
                                    {%autoescape false%}{{data.descricao}}{% endautoescape %}
                                </p>
                            
                            {%endif%}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-2 mb-5">
            <div class="col-auto">
                <button class="btn btn-reg" data-bs-toggle="modal" data-bs-target="#editarSobre">Editar sobre&nbsp;&nbsp;<i class="fa-solid fa-pen-to-square"></i></button>
            </div>
        </div>
    </div>


{% endblock %}

{% block script %}

    <script src="{{url_for('static', filename='js/profile.script.js')}}"></script>

{% endblock %}